Options -Indexes +FollowSymLinks
RewriteEngine On

# 1. REGRAS DO ADMIN (Prioridade Total)
# Se a URL começar com admin, ignore se a pasta existe e mande para o public/admin.php
RewriteRule ^admin/?$ public/admin.php [QSA,L]
RewriteRule ^admin/(.*)$ public/admin.php?url=$1 [QSA,L]

# 2. IGNORAR ARQUIVOS FÍSICOS (Imagens, CSS, JS)
# Se NÃO for algo que comece com admin, aí sim verificamos se o arquivo existe
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 3. REGRAS DO APP (Loja)
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
